/* name colours */
#chat .chat-main .isOwner .username,
#chat .chat-main .isOwner .username:hover,
#chat .chat-main .isOwner .username:visited
{
    color: #ba0f0f !important;
}

#chat .chat-main .isCo-owner .username,
#chat .chat-main .isCo-owner .username:hover,
#chat .chat-main .isCo-owner .username:visited
{
    color: #ba0f0f !important;
}

#chat .chat-main .isManager .username,
#chat .chat-main .isManager .username:hover,
#chat .chat-main .isManager .username:visited
{
    color: #3083FF !important;
}

#chat .chat-main .isMod .username,
#chat .chat-main .isMod .username:hover,
#chat .chat-main .isMod .username:visited
{
    color: #3083FF !important;
}

#chat .chat-main .isVip .username,
#chat .chat-main .isVip .username:hover,
#chat .chat-main .isVip .username:visited
{
    color: #29A3A3 !important;
}

#chat .chat-main .isResident-dj .username,
#chat .chat-main .isResident-dj .username:hover,
#chat .chat-main .isResident-dj .username:visited
{
    color: #33CCFF !important;
}

/* User list name colors */
#main_avatar_room #main-user-list-room #avatar-list li.owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.owner p.username::after
{
    color: #ba0f0f;
}

#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username,
#main_avatar_room #main-user-list-room #avatar-list li.co-owner p.username::after
{
    color: #ba0f0f;
}

#main_avatar_room #main-user-list-room #avatar-list li.manager p.username,
#main_avatar_room #main-user-list-room #avatar-list li.manager p.username::after
{
    color: #3083FF;
}

#main_avatar_room #main-user-list-room #avatar-list li.mod p.username,
#main_avatar_room #main-user-list-room #avatar-list li.mod p.username::after
{
    color: #3083FF;
}

#main_avatar_room #main-user-list-room #avatar-list li.vip p.username,
#main_avatar_room #main-user-list-room #avatar-list li.vip p.username::after
{
    color: #29A3A3;
}

#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username,
#main_avatar_room #main-user-list-room #avatar-list li.resident-dj p.username::after
{
    color: #33CCFF;
}
/* me */
#chat .chat-main .user-573b279485549737002ac7c4 .username,
#chat .chat-main .user-573b279485549737002ac7c4 .username:hover,
#chat .chat-main .user-573b279485549737002ac7c4 .username:visited
{
    color: #FFD700 !important;
}

#main_avatar_room #main-user-list-room #avatar-list li.user-573b279485549737002ac7c4 p.username,
#main_avatar_room #main-user-list-room #avatar-list li.user-573b279485549737002ac7c4 p.username::after
{
    color: #FFD700;
}
/* mel <3 */
#chat .chat-main .user-573b4afa839e4d2300ae1d3a .username,
#chat .chat-main .user-573b4afa839e4d2300ae1d3a .username:hover,
#chat .chat-main .user-573b4afa839e4d2300ae1d3a .username:visited
{
    color: #6b58a8 !important;
}
/* kj */
#chat .chat-main .user-5736aa8d9ee0b413000d47c6 .username,
#chat .chat-main .user-5736aa8d9ee0b413000d47c6 .username:hover,
#chat .chat-main .user-5736aa8d9ee0b413000d47c6 .username:visited
{
    color: #ff0000 !important;
}
/* floffs */
#chat .chat-main .user-5740d95362e8b3cb00deb1d7 .username,
#chat .chat-main .user-5740d95362e8b3cb00deb1d7 .username:hover,
#chat .chat-main .user-5740d95362e8b3cb00deb1d7 .username:visited
{
    color: #637c85 !important;
}

/* Emote sizes */
#chat .emoji
{
    max-width:  none !important;
    max-height: 28px !important;
    width:      auto !important;
    height:     auto !important;
}

/* me command fix */
#chat .chat-container .chat-messages .chat-main li.system-error
{
    text-transform: uppercase;
}

#chat .chat-main li[class*='system']
{
    color:         darkturquoise !important;
    text-align:    center;
    border-top:    darkturquoise 1px solid !important;
    border-bottom: darkturquoise 1px solid !important;
}
